<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Assignment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.servlet.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutAction</display-name>
    <servlet-name>LogoutAction</servlet-name>
    <servlet-class>com.servlet.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAction</servlet-name>
    <url-pattern>/LogoutAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePollAction</display-name>
    <servlet-name>CreatePollAction</servlet-name>
    <servlet-class>com.servlet.CreatePollAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePollAction</servlet-name>
    <url-pattern>/CreatePollAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePollAction</display-name>
    <servlet-name>DeletePollAction</servlet-name>
    <servlet-class>com.servlet.DeletePollAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePollAction</servlet-name>
    <url-pattern>/DeletePollAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTimeAction</display-name>
    <servlet-name>AddTimeAction</servlet-name>
    <servlet-class>com.servlet.AddTimeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTimeAction</servlet-name>
    <url-pattern>/AddTimeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinAction</display-name>
    <servlet-name>JoinAction</servlet-name>
    <servlet-class>com.servlet.JoinAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinAction</servlet-name>
    <url-pattern>/JoinAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveTimeAction</display-name>
    <servlet-name>RemoveTimeAction</servlet-name>
    <servlet-class>com.servlet.RemoveTimeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveTimeAction</servlet-name>
    <url-pattern>/RemoveTimeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePollStatus</display-name>
    <servlet-name>ChangePollStatus</servlet-name>
    <servlet-class>com.servlet.ChangePollStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePollStatus</servlet-name>
    <url-pattern>/ChangePollStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jersey REST Web Services</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.rest</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Web Services</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
   com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  </listener-class>
  </listener>
  <servlet>
    <servlet-name>SOAP Web Services</servlet-name>
    <servlet-class>
   com.sun.xml.ws.transport.http.servlet.WSServlet
  </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SOAP Web Services</servlet-name>
    <url-pattern>/soap/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>